<div class="modBox">
    <div class="innerBox" *ngIf="isListar">
        <div class="titleBox">
            <p>Directorio</p>
        </div>
        <table style="width: 100%;">
            <tr class="listBox">
                <th class="listButton"></th>
                <th class="listTitle" *ngFor="let field of bancosFields">
                    {{field}}
                </th>
            </tr>
            <tr class="bItem" *ngFor="let value of bancosValues;">
                <td class="listButton">
                    <button type="button" id="closeB" (click)="deleteItem($event, value)">
            X
          </button>
                    <img id="updateB" src="/assets/tuerca.png" (click)="openUpdate($event, value)" />
                </td>
                <td class="listTitle" *ngFor="let field of bancosFields; let i = index">
                    {{value[i]}}
                </td>
            </tr>
        </table>

        <!-- 
        <div class="showBox">
            <div class="listBox">
                <p class="listButton"></p>
                <p class="listTitle">Alias</p>
                <p class="listTitle">Numero de cuenta</p>
                <p class="listTitle">Banco</p>
                <p class="listTitle">Status</p>
            </div>
            <ul class="bList" *ngIf="show">
                <li class="bItem" *ngFor="let bacc of bancosValues;">
                    <div class="listButton">
                        <button id="closeB" (click)="deleteBank($event, bacc)">X</button>
                        <img id="updateB" src="/assets/tuerca.png" (click)="openUpdate($event, bacc)" />
                    </div>
                    <p class="listTitle">{{bacc.bAlias}}</p>
                    <p class="listTitle">{{bacc.bNumber}}</p>
                    <p class="listTitle">{{bacc.bBank}}</p>
                    <p class="listTitle">{{bacc.bAct}}</p>
                </li>
            </ul>
        </div> -->
    </div>
    <div class="innerBox" *ngIf="isCrear">
        <div class="titleBox">
            <h1>Agregar banco</h1>
        </div>

        <form class="formContent" *ngIf="addB" [formGroup]="bank" (ngSubmit)="addBank()">
            <label style="width:40%" class="lInput" for="bBank">Banco:
        <input
          type="text"
          formControlName="bBank"
          name="bBank"
          placeholder="Banco"
        />
      </label>
            <label style="width:40%" class="lInput" for="balias">Alias:
        <input
          type="text"
          formControlName="bAlias"
          name="bAlias"
          placeholder="Alias"
        />
      </label>
            <label style="width: 57%" class="lInput" for="bNumber">Numero de cuenta:
        <input
          type="text"
          formControlName="bNumber"
          name="bNumber"
          placeholder="Numero de cuenta"
        />
      </label>
            <!--label for="bBalance">Saldo inicial:
                    <input type="text" class="lInput" formControlName="bBalance" name="bBalance" placeHolder="Saldo inicial">
                </label-->
            <label style="width: 38%" class="lInput" for="bAct">Status:
        <select name="bAct" formControlName="bAct">
          <option value="Activa">Activa</option>
          <option value="Inactiva">Inactiva</option>
          <option value="Cerrada">Cerrada</option>
        </select>
      </label>
            <label style="width: 40%" class="lInput" for="bAddress">Dirección:
        <input
          type="text"
          formControlName="bAddress"
          name="bAddress"
          placeholder="Dirección"
        />
      </label>
            <label style="width:40%" class="lInput" for="bPhone">Teléfono:
        <input
          type="text"
          formControlName="bPhone"
          name="bPhone"
          placeholder="Teléfono"
        />
      </label>
            <label style="width:40%" class="lInput" for="bEx">Ejecutivo de cuenta:
        <input
          type="text"
          formControlName="bEx"
          name="bEx"
          placeholder="Ejecutivo"
        />
      </label>
            <label style="width:40%" class="lInput" for="bExPhone">Telefono personal Ejecutivo:
        <input
          type="text"
          formControlName="bExPhone"
          name="bExPhone"
          placeholder="Teléfono Ejecutivo"
        />
      </label>

            <button type="submit" class="formButton">
        <p>Aceptar</p>
      </button>
        </form>
    </div>
    <div class="innerBox" *ngIf="isDisponibilidad">
        <div class="titleBox">
            <p>Disponibilidad bancaria</p>
        </div>
        <div class="showBox">
            <div class="listBox">
                <p class="titleItem">Alias</p>
                <p class="titleItem">Disponible</p>
                <p class="titleItem">Diferido</p>
                <p class="titleItem">Bloqueado</p>
                <p class="titleItem">Transito</p>
                <p class="titleItem">Terceros</p>
                <!--p class="titleItem">Total</p-->
                <p class="titleItem">Movimientos</p>
            </div>
            <ul id="mainB" class="bList" *ngIf="showB">
                <li class="bItem" *ngFor="let bank of bancosValues; let i = index">
                    <p class="titleItem">{{bank.bAlias}}</p>
                    <p class="titleItem">{{bank.bBalance | number:'1.2-2':'es-VE'}} Bs</p>
                    <p class="titleItem">0 Bs</p>
                    <p class="titleItem">0 Bs</p>
                    <p class="titleItem">0 Bs</p>
                    <p class="titleItem">0 Bs</p>
                    <div class="titleItem">
                        <button id="moveB" (click)="selectMove($event, bank.bAlias)">
              Ver movimientos
            </button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="titleBox">
            <p>Movimientos</p>
        </div>

        <div class="showBox">
            <div class="listBox">
                <p class="titleItem">Fecha</p>
                <p class="titleItem">Descripcion</p>
                <p class="titleItem">Referencia</p>
                <p class="titleItem">D/H</p>
                <p class="titleItem">Monto</p>
                <p class="titleItem">Saldo inicial</p>
                <p class="titleItem">Saldo Final</p>
            </div>

            <ul class="bList" *ngIf="showM">
                <li class="bItem" *ngFor="let move of moves;">
                    <p class="titleItem">{{move.mDate}}</p>
                    <p class="titleItem">{{move.mDesc}}</p>
                    <p class="titleItem">{{move.mCode}}</p>
                    <p class="titleItem">{{move.mNature}}</p>
                    <p class="titleItem">{{move.mAmmount | number:'1.2-2':'es-VE'}} Bs</p>
                    <p class="titleItem">{{move.mOld | number:'1.2-2':'es-VE'}} Bs</p>
                    <p class="titleItem">{{move.mNew | number:'1.2-2':'es-VE'}} Bs</p>
                </li>
            </ul>
        </div>
    </div>
</div>